<form  th:action="@{/api/mgmnt/v1/pengeluaran/edit/{id} (id=${pengeluaran.idPengeluaran})}"
       th:object = "${pengeluaran}" method="POST" id="ubahPengeluaran"><!--	ID FORM TIDAK BOLEH SAMA DENGAN ID MODALS DI FRAGMENT -->
  <input type="hidden" value="af3ac95f3f0d86d42670f640ef125494" /><!-- form generate id security of front end -->
  <div class ="form-group">
    <label> Nama Pengeluaran </label>
    <input
            type = "text"
            name = "namapengeluaran"
            id = "namaPengeluaran"
            th:field = "*{namaPengeluaran}"
            th:value = "*{namaPengeluaran}"
            class = "form-control"
            placeholder="Masukan nama pengeluaran"
    />
  </div>

  <div class ="form-group">
    <label> Jumlah biaya </label>
    <input
            type = "text"
            name = "biaya"
            id = "biaya"
            th:field = "*{biaya}"
            th:value = "*{biaya}"
            class = "form-control"
            placeholder="Masukan biaya pengleluaran"
    />
  </div>

  <div class = "modal-footer">
    <button type="submit" class = "btn btn-primary">
      Submit
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</form>

<script th:inline="javascript">
  /*<![CDATA[*/

  $("#ubahPengeluaran").submit(function(event) {
    event.preventDefault(); //prevent default action
    let post_url = $(this).attr("action"); //get form action url
    let request_method = $(this).attr("method"); //get form GET/POST method
    let form_data = $(this).serialize(); //Encode form elements for submission
    $.ajax({
      url: post_url,
      type: request_method,
      data: form_data
    }).done(function(response) { //
      let pattern = /af3ac95f3f0d86d42670f640ef125494/i;
      let result = response.match(pattern);
      if(result)
      {
        $("#server-results").html(response);
      }
      else
      {
        $('#editPengeluaran').modal('hide');
        confirm("DATA BERHASIL DISIMPAN");
        location.reload();
      }

    });
  });

  /*]]>*/
</script>