<!--<!DOCTYPE HTML>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="studentAddLabel"-->
<!--	 aria-hidden="true">-->
<!--	<div class="modal-dialog">-->
<!--		<div class="modal-content">-->
<!--			<div class="modal-header">-->
<!--				<h5 class="modal-title" id="studentAddLabel">Modal title</h5>-->
<!--				<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--					<span aria-hidden="true">&times;</span>-->
<!--				</button>-->
<!--			</div>-->
<!--			<div class="modal-body">-->
<!--				<label th:text="${id}" />-->
<!--				&lt;!&ndash;                <input th:field = "*{id}" name="email" id="email"/>&ndash;&gt;-->
<!--&lt;!&ndash;				<form th:action="@{/api/school/v1/students}" th:object = "${student1}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class ="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;						<label> Student First Name </label>&ndash;&gt;-->
<!--&lt;!&ndash;						<input&ndash;&gt;-->
<!--&lt;!&ndash;								type = "text"&ndash;&gt;-->
<!--&lt;!&ndash;								name = "firstName"&ndash;&gt;-->
<!--&lt;!&ndash;								th:field = "*{firstName}"&ndash;&gt;-->
<!--&lt;!&ndash;								class = "form-control"&ndash;&gt;-->
<!--&lt;!&ndash;								placeholder="Enter Student First Name"&ndash;&gt;-->
<!--&lt;!&ndash;						/>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class ="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;						<label> Student Last Name </label>&ndash;&gt;-->
<!--&lt;!&ndash;						<input&ndash;&gt;-->
<!--&lt;!&ndash;								type = "text"&ndash;&gt;-->
<!--&lt;!&ndash;								name = "lastName"&ndash;&gt;-->
<!--&lt;!&ndash;								th:field = "*{lastName}"&ndash;&gt;-->
<!--&lt;!&ndash;								class = "form-control"&ndash;&gt;-->
<!--&lt;!&ndash;								placeholder="Enter Student Last Name"&ndash;&gt;-->
<!--&lt;!&ndash;						/>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class ="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;						<label> Student Email </label>&ndash;&gt;-->
<!--&lt;!&ndash;						<input&ndash;&gt;-->
<!--&lt;!&ndash;								type = "text"&ndash;&gt;-->
<!--&lt;!&ndash;								name = "email"&ndash;&gt;-->
<!--&lt;!&ndash;								th:field = "*{email}"&ndash;&gt;-->
<!--&lt;!&ndash;								class = "form-control"&ndash;&gt;-->
<!--&lt;!&ndash;								placeholder="Enter Student Email"&ndash;&gt;-->
<!--&lt;!&ndash;						/>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class = "box-footer">&ndash;&gt;-->
<!--&lt;!&ndash;						<button type="submit" class = "btn btn-primary">&ndash;&gt;-->
<!--&lt;!&ndash;							Submit&ndash;&gt;-->
<!--&lt;!&ndash;						</button>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				</form>&ndash;&gt;-->
<!--			</div>-->
<!--			<div class="modal-footer">-->
<!--				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--				<button type="button" class="btn btn-primary">Save changes</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->