<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
  <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
  <link th:href="@{/styles/banner.css}" rel="stylesheet" />
  <script th:src="@{/js/modalz.js}"></script>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <style>
    th {
      font-size: 12pt;
      font-weight: normal;
      text-align: center;
    }
    a {
      font-weight: normal;
    }
  </style>
</head>
<body>
<div th:replace="header/navheader::navapalah"></div>

<div class ="container">
  <div class = "row">
    <h1> List Pengeluaran </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <!--				<a th:href = "@{/api/school/v1/students/new}" class = "btn btn-primary btn-sm mb-3"> Add Student</a>-->
      <button type="button"
              th:data-title="'Add Pengeluaran'" onclick="funcHandler(event)"
              th:data-url="'/api/v1/pengeluaran/new'"
              class="btn btn-sm btn-primary" data-toggle="modal" data-target="#pengeluaranAdd" style="font-size: 12pt;margin-bottom: 5px">
        ADD PENGELUARAN
      </button>
    </div>
  </div>
  <table class = "table table-striped table-bordered" >
    <thead class = "table-dark">
    <tr>
      <th> Nama Pengeluaran</th>
      <th> Biaya Pengeluaran</th>
      <th colspan="2"> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "pengeluaran: ${pengeluaran}">
      <td th:text = "${pengeluaran.namaPengeluaran}"></td>
      <td th:text = "${pengeluaran.biaya}"></td>
      <td>
        <button type="button"
                th:data-url="@{/api/v1/pengeluaran/edit/{id}(id=${pengeluaran.idPengeluaran})}"
                th:data-title="'Edit Pengeluaran'"
                onclick="funcHandler(event)"
                class="btn btn-sm btn-primary" data-toggle="modal" data-target="#pengeluaranEdit">Edit</button>
      </td>
      <td>
        <a th:href = "@{/api/v1/pengeluaran/{id}(id=${pengeluaran.idPengeluaran})}" class = "text-center text-sm-center btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<th:block th:replace="modals :: modalz('pengeluaranAdd')">modal</th:block>
<th:block th:replace="modals :: modalz('pengeluaranEdit')">modal</th:block>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script><!--wajib ada untuk form-->
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>