<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <!--  <link th:href="@{/js/capcai.js}" rel="stylesheet" />-->
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <form th:action="@{/api/authz/v1/login/}" th:object = "${users}" method="POST">
      <h1>Sign In</h1>
      <div>
        <label for="email">Email / Username :</label>
        <input type="text" th:field = "*{email}" name="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" th:field = "*{password}" name="password" />
      </div>
      <div>
        <button type="submit">Sign In</button>
      </div>
      <!--        <div>-->
      <!--            <label for="capcai">Capcai:</label>-->
      <!--            <input required type="text" th:text = "*{captcha}" name="captcha" id="captcha" >-->
      <!--        </div>-->
      <!--            <div>-->
      <!--                <img src="data:image/jpeg;${image}" />-->
      <!--            </div>-->
      <!--            <div>-->
      <!--                <canvas id="myCanvas" th:field="*{image}" width="150" height="60" style="border:1px solid #d3d3d3;">-->
      <!--                    <img src="data:image/jpeg;*{image}" />-->
      <!--&lt;!&ndash;&lt;!&ndash;                    Your browser does not support the HTML5 canvas tag.&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;                    [[${image}]]&ndash;&gt;-->
      <!--                </canvas>-->
      <!--            </div>-->
      <hr>
      <a th:href = "@{/api/check/register}"> Registration</a>
    </form>
  </div>
</div>
<!--  <script src="./capcai.js"></script>-->
</body>
</html>