<form th:action="@{/api/usrmgmnt/v1/pesanan/new}" th:object = "${pesanan}" method="POST" id="buatPesanan"><!--	ID FORM TIDAK BOLEH SAMA DENGAN ID MODALS DI FRAGMENT -->
	<input type="hidden" value="0996eae8922a2eda12293443a12f3802" /><!-- form generate id security of front end -->

	<div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}"  class="error"/>
	</div>
	<div class ="form-group">
		<label> Berat </label>
		<input
				type = "text"
				name = "berat"
				th:field = "*{berat}"
				class = "form-control"
				placeholder="Masukkan Berat"
		/>
		<ul>
			<li th:each="err : ${#fields.errors('berat')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label> PELANGGAN</label>
		<select form="buatPesanan" th:field="*{pelanggan.idPelanggan}" class="form-control" name="group-pelanggan"id="group-pelanggan">
			<option value="" selected="selected" disabled hidden="hidden">---pilih pelanggan---</option>
			<option th:each="customer: ${listPelanggan}" th:value="${customer.idPelanggan}" th:text="${customer.namaLengkap}"></option>
		</select>
		<ul>
			<li th:each="err : ${#fields.errors('pelanggan.idPelanggan')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label> TIPE LAYANAN</label>
		<!--		<select th:object="${user}"  th:field="*{permission} class="form-control" name="permission">-->
		<select form="buatPesanan" th:field="*{paketLayanan.idListHarga}" class="form-control" name="group-list-harga"id="group-list-harga">
			<option value="" selected="selected" disabled hidden="hidden">---pilih paket---</option>
			<option th:each="paket: ${listPaketLayanan}" th:value="${paket.idListHarga}" th:text="${paket.namaPaket}+'--'+${paket.tipeLayanan}+'--'+${paket.hargaPerKilo}"></option>
		</select>
		<ul>
			<li th:each="err : ${#fields.errors('paketLayanan.idListHarga')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label> PEMBAYARAN </label>
		<!--		<select th:object="${user}"  th:field="*{permission} class="form-control" name="permission">-->
		<select form="buatPesanan" th:field="*{pembayaran.idPembayaran}" class="form-control" name="group-list-pembayaran"id="group-list-pembayaran">
			<option value="" selected="selected" disabled hidden="hidden">---pilih pembayaran---</option>
			<option th:each="bayar: ${listPembayaran}" th:value="${bayar.idPembayaran}" th:text="${bayar.namaPembayaran}"></option>
		</select>
		<ul>
			<li th:each="err : ${#fields.errors('pembayaran.idPembayaran')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class = "modal-footer">
		<button type="submit" class = "btn btn-primary">
			Submit
		</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</form>

<script th:inline="javascript">
/*<![CDATA[*/

    $("#buatPesanan").submit(function(event) {
          event.preventDefault(); //prevent default action
          let post_url = $(this).attr("action"); //get form action url
          let request_method = $(this).attr("method"); //get form GET/POST method
          let form_data = $(this).serialize(); //Encode form elements for submission
          $.ajax({
              url: post_url,
              type: request_method,
              data: form_data
            }).done(function(response) { //
            let pattern = /0996eae8922a2eda12293443a12f3802/i;
			let result = response.match(pattern);
            if(result)
            {
				$("#server-results").html(response);
            }
            else
            {
				$('#addPesanan').modal('hide');
				confirm("DATA BERHASIL DISIMPAN");
            }

            });
        });

/*]]>*/
</script>

