.container {
    display: flex;
    justify-content: center;
    /* border: 1px solid gray; */
    height: 100vh;
}

div.container .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: auto;
    /* flex-direction: column; */
    padding: 20px;
}

div.wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 60vh;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}

div.wrapper form div {
    display: flex;
    margin-block-end: 5px;
    margin-block-start: 5px;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
}